﻿@model ZavenDotNetInterview.App.Models.JobDetailsModel

<div>
    <h4>JobDetailsModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoAfter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoAfter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FailureCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FailureCount)
        </dd>

    </dl>
</div>

<h3>
    @Html.DisplayNameFor(model => model.Logs)
</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Logs[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logs[0].CreatedAt)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Logs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
