﻿@model IEnumerable<ZavenDotNetInterview.App.Models.JobListItemModel>

<p>
    @Html.ActionLink("Create", "Create")
    @Html.ActionLink("Process", "Process")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var job in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => job.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => job.JobStatus)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { jobId = job.JobId })
            </td>
        </tr>
    }
</table>
